@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --border: #888;
    --right: #5a0;
    --wrong_position: #a70;
    --wrong: #888;
}

.color-right { color: var(--right); }
.color-wrong-position { color: var(--wrong_position); }
.color-wrong { color: var(--wrong); }

* {
    font-family: 'Arvo', monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    color: #ccc;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txt_term {
    text-transform: uppercase;
    border: 1px solid var(--border);
    padding: .5em;
    background: none;
    color: inherit;
    outline: none;
    text-align: center;
    font-size: 1.2em;
    margin: 0 .5em;
    width: 100%;
    box-shadow: 2px 2px 2px 1px #000;
}

#field {
    margin: .5em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#term_list {
    max-height: 50vh;
    justify-content: flex-start;
    overflow-y: auto;
    width: fit-content;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
}

#term_list .term {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#term_list .term span {
    border: 1px solid var(--border);
    font-size: 1.5em;
    margin: .1em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    flex-grow: 0;
    box-shadow: 1px 1px 1px 1px #000;
}

#term_list .term span.right {
    color: var(--right);
    border-color: var(--right);
}

#term_list .term span.wrong_position {
    color: var(--wrong_position);
    border-color: var(--wrong_position);
}

#term_list .term span.wrong {
    color: var(--wrong);
    border-color: var(--wrong);
}

#bts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#bts button {
    padding: .5em;
    margin: 1em .5em;
    border: 1px solid;
    background: none;
    cursor: pointer;
    border-color: var(--border);
    color: var(--border);
    box-shadow: 1px 1px 1px 1px #000;
}

#bts button#giveup {
    border-color: #e88;
    color: #e88;
}

#credits {
    margin-top: 1em;
}

#credits a {
    color: var(--wrong_position);
    text-decoration: none;
}

#howtoplay {
    margin: 2em;
}

#howtoplay h1 {
    margin-top: 0;
    text-align: center;
}